#error {
  width: 480px;
	margin: 0 auto;
	padding: 12px 24px;
	background-color: transparent;
}

#error .title {
  padding: 12px 0px 0px 0px;
  color: #fff;
  font-family: fill;
	font-size: 48px;
}

#error .message {
  color: #fff;
  font-size: 16px;
  font-family: Roboto-Regular;
}

button {
  display:inline-block;
  height: 40px;
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Roboto-Regular;
  font-style: normal;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
}
