@font-face {
    font-family: fill;
    src: url(../../fonts/fill_me_with_color.otf);
}

@font-face {
    font-family: Cormorant-Light;
    src: url(../../fonts/Cormorant-Light.otf);
}

@font-face {
    font-family: Cormorant-Medium;
    src: url(../../fonts/Cormorant-Medium.otf);
}

@font-face {
    font-family: Cormorant-Regular;
    src: url(../../fonts/Cormorant-Regular.otf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../fonts/Roboto-Regular.ttf);
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #303030;
}

a:link {
  text-decoration: none;
	color: #000;
}

a:visited {
    text-decoration: none;
	color: #000;
}

a:hover {
    text-decoration: underline;
	color: #F00;
}

a:active {
    text-decoration: underline;
	color: #F00;
}

.clear {
  clear: both;
  content: "";
}

input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

input[type=submit] {
  display:inline-block;
  height: 40px;
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Roboto-Regular;
  font-style: normal;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
}

#languages_bar {
  width: 100%;
}

#languages_bar .languages_content {
  float: right;
}

#languages_bar .languages_content .language_item img {
  width: 32px;
}
