#poll {
	width: 480px;
	margin: 0 auto;
	padding: 12px 24px;
	background-color: transparent;
}

#poll .title {
	padding: 12px 0px 0px 0px;
	color: #fff;
}

#poll .title .text {
  font-family: fill;
	font-size: 48px;
}

#poll .question {
	padding: 12px 0px 0px 0px;
}

#poll .submit_button {
	padding: 12px 0px 0px 0px;
}

#poll .question input[type="text"], select {
	padding: 20px 20px;
	font-size: 24px;
}

#poll .answer input[type="text"], select {
	padding: 12px 20px;
	font-size: 18px;
}

#poll .question input[type="text"], select,
#poll .answer input[type="text"], select {
		font-family: Cormorant-Medium;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
