#results {
  width: 860px;
  margin: 0 auto;
  padding: 12px 24px;
  background-color: transparent;
}

#results .question_title {
  font-family: fill;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 25px 0;
}

#results .results_content {
  float: left;
  width: 40%;
  font-family: Cormorant-Medium;
  font-size: 22px;
  color: #fff;
}

#results .results_content .results_table .answer_column {
  float: left;
}

#results .results_content .results_table .answer_column .answer_row {
  padding: 2px;
}

#results .results_content .results_table .count_column {
  float: left;
  margin-left: 80px;
}

#results .results_content .results_table .count_column .count_row {
  padding: 2px;
}

#results .chart_content {
  float: left;
  width: 60%;
}
