#vote {
	width: 640px;
	margin: 0 auto;
	padding: 12px 24px;
	background-color: transparent;
}

#vote .title {
	padding: 12px 0px 0px 0px;
}

#vote .title .text {
	font-size: 64px;
  font-family: fill;
	color: #fff;
}

#vote .question {
    width: 100%;
    margin: 8px 0;
    font-size: 42px;
    font-family: Cormorant-Medium;
		color: #fff;
}

#vote .answer_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 0px;
    cursor: pointer;
    font-size: 24px;
    font-family: Cormorant-Light;
		color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#vote .answer_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#vote .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

#vote .answer_container:hover input ~ .checkmark {
    background-color: #ccc;
}

#vote .answer_container input:checked ~ .checkmark {
    background-color: red;
}

#vote .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#vote .answer_container input:checked ~ .checkmark:after {
    display: block;
}

#vote .answer_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#vote .results_button {
  float: left;
}

#vote .results_button a {
  text-decoration: none;
  line-height:2.5em;
  display:inline-block;
  background-color: grey !important;
}

#vote .results_button a,
#vote .submit_button input[type=submit] {
  display:inline-block;
  height: 40px;
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Roboto-Regular;
  font-style: normal;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
}

#vote .submit_button {
  float: left;
}
